.wrapper {
    display: flex;
    width: 100vw;
    overflow: scroll;
    figure {
        border: 1px solid white;
    }
    article {
        margin-bottom: 2rem;
        color: white;
        margin-right: .5rem;
    }
}

.poster-container {
    width: 342px;
    height: 450px;
    overflow: hidden;

    .movie-placeholder {
        height: 100%;
        background-color: grey;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        text-transform: uppercase;
    }
}